<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mikata_arm">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="initial_positions_file" default="$(find mikata_arm_bringup)/config/initial_positions.yaml" />

  <xacro:include filename="$(find mikata_arm_description)/urdf/mikata_arm.urdf.xacro" />
  <xacro:include filename="$(find mikata_arm_bringup)/config/mikata_arm.ros2_control.xacro" />

  <xacro:mikata_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)" />
</robot>
